appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
Choco==1.0.5
distlib==0.3.1
filelock==3.0.12
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
MarkupSafe==1.1.1
mysql-connector-python==8.0.25
numpy==1.19.2
pandas==1.1.2
PyJWT==1.7.1
python-dateutil==1.5
pytz==2020.1
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
stdin==0.0.0
twilio==6.45.4
urllib3==1.25.10
virtualenv==20.0.28
virtualenvwrapper-win==1.2.6
whitenoise==6.0.0
